absl-py
astunparse
black
CacheControl
cachetools
certifi
charset-normalizer
click
firebase-admin
Flask
Flask-Cors
flatbuffers
gast
gevent
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h5py
httplib2
idna
itsdangerous
Jinja2
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
msgpack
mypy-extensions
numpy
oauthlib
opt-einsum
pathspec
Pillow
platformdirs
proto-plus
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dotenv
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-cpu
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
tomli
typing_extensions
uritemplate
urllib3
Werkzeug
wrapt
zope.event
zope.interface
